.user-receipt {
  text-align: justify;
  width: 40%;
  margin-top: 20px;
}
.user-receipt label {
  font-weight: 600;
}
.user-receipt > div {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.img{
    width: 500px;
    height: 500px;
}
.final-print {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}
.icon {
  width: 30px;
  height: 30px;
}
.iconDiv1 {
  display: flex;
  width: 140px;
  align-items: center;
  justify-content: space-around;
}
.iconDiv {
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: space-around;
}
@media all and(min-width:320px) and (max-width: 767px) {
  .final-print {
    flex-direction: column;
  }
}
